* {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 1em;
    border: 1px solid black;
    text-align: center;
}

#playerTurn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameMsg {
    display: flex;
    align-items: center;
    justify-content: center;
}