* {
    box-sizing: border-box;
}

body{
    background-color: #14bdac ;
    color: #545454;
    font-family: sans-serif;
    margin-top: 150px
}



#app {
    background:;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    cursor: pointer;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 1em;
    border: 2.5px solid #545454;
    text-align: center;
}

#playerTurn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
}

#gameMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;

}